<h1>Congrats, <%= @user.name %>!</h1>
<br>
<p>We are so thrilled to congratulate you on your wedding day. Can you believe it's already here? We can't. 

Once you're back from your honeymoon, we'll have a special gift waiting for you from the team at beloved! 

May your wedding be full of fun, cheer, and great dance moves. 

xo,
beloved. 
</p>