<h1>Hi, <%= @user.name %>!</h1>
<br>
<p>Welcome to beloved! We can't wait to help you start planning your wedding, but also treating you along the way! You'll use your email, <%=@user.email %> to login. Don't forget to sign up for our Treat yo'self subscription. 
<br>
Happy planning! Don't hesitate to reach out to us if you need any help. 
<br>
xo,
beloved. 
</p>