<h1>Hi, <%= @user.name %>!</h1>
<br>
<p>Welcome to beloved! We're here to get your wedding plannin' started with a bang all the while treating you with some fun gifts.

You'll use your email, <%=@user.email %> to login at www.belovedapp.co.
<br>
<br>
Don't forget to sign up for our Treat yo'self subscription. 
<br>
<br>
Happy planning! Don't hesitate to reach out to us if you need any help. 

xo,
beloved. 
</p>