<div class="field">
	<%= form_for @user, html: { multipart: true } do |f| %>

	  <%= file_field_tag "images[]", type: :file, multiple: true %>
	<br>
	<div class="actions">
	 <button class="btn btn-info btn-sm">Add</button>
	 </div>
	<% end %>
	<br>
</div>