<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script type="text/javascript" src="application.js"></script>
    <link rel="stylesheet" type="text/css" href="application.css">
	<title></title>
</head>

<body>

	<h1>
		Make Your Wedding Snapchat Filter
	</h1>

	 <form class="template-form">
	        <input type="text" class="custom-text"/>
	        <button type="button" class="message-submit-button">
	          Save PNG Image
	        </button>
	      </form>

	      <div class="image-preview-wrap">
	        <div class="image-preview">
	          <p class="image-message">
	            Your Message or Names Here!
	          </p>
	        </div>
	      </div>
	      <div class="lightbox">
	      <a href="#" class="close-lightbox">&times;</a>
	      <img src="" class="new-image"/>
	      </div>

</body>
</html>



