/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple_calendar";
@import "owl.carousel";
@import "owl.theme";
@import "users";



/*create page*/
.image-preview, .image-preview-wrap {
	position: center;
	margin: 0 auto;
}

.lightbox {
	display: none; 
	position: fixed; 
	z-index: 99;
}

.image-preview {
	background-image: url("/images/snapchat_filter.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	width: 550px;
	height: 1000px;
}

.image-message {
	text-transform: uppercase;
	text-align: center;
  	position: relative;
	word-wrap: break-word;
	padding-left: 80px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: rgba(#1c1c1c, 0.7);
}

.closebox {
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	position: fixed;
	top: 20px;
	right: 25px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}


//IMAGE SLIDER
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

//FOOTER
