/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple_calendar";
@import "owl.carousel";
@import "owl.theme";
@import "users";
@import "checklists";
@import "expenses";
@import "guests";
@import "sites";


/*create page*/
.image-preview, .image-preview-wrap {
	position: center;
	margin: 0 auto;
}

.lightbox {
	display: none; 
	position: fixed; 
	z-index: 99;
}

.image-preview-wrap,
.image-preview {
	width: 550px;
	height: 1000px;
	margin: 0 auto;
}
.image-preview {
	background-image: url("/images/snapchat_filter.png");
	background-position: center center;
	background-repeat: no-repeat;
	// background-size: contain;
}

.image-message {
	text-transform: uppercase;
	text-align: center;
  	position: relative;
	word-wrap: break-word;
	padding-left: 80px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: rgba(#1c1c1c, 0.7);
}

.closebox {
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	position: fixed;
	top: 20px;
	right: 25px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}


//IMAGE SLIDER
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
//Navbar Global
.navbar {
	box-shadow: 0 8px 6px -6px #999;
	background-color: #FFF;

}

//User Navbar
// .user-navbar
.navbar {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    color: #363636;
    text-transform: uppercase;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    width: 100%;
    height: 12%;
    a {
    	color: #6f6e6e;
    	padding: 15px;
    }
	a:hover {
		color: #363636;
		text-decoration: none;
	}

    .logout {
    	margin-left: 300px;
    }
    .logout:hover {
    	color: #363636;
    }
    .navbar_brand, img {
    	margin-top: -37px;
    	margin-left: -4px;
    }
    .usernav {
    	margin-top: 25px;
    }
}
// Site Navbar 
.login {
	margin-left: 232px;
}
.navbar-brand-site {
	img {
		margin-left: 548px;
    	margin-top: 5px;	
	}
}

//Buttons
.btn-info {
	background-color: rgba(255, 255, 255, 0.15);
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}
.btn-info:hover {
	background-color: #f7dfd4;
	text-decoration: none;
}


// Social Icons
.social-icon {
	font-size: 18px;
    margin: -13px;
}
.fa {
	color: #f7dfd4;

}
.fa:hover {
	color: #333;
}

// LOG IN 
#log-in {
	margin-top: 150px;
	h2 {
		font-family: 'Playfair Display', serif;
	    font-weight: normal;
	    padding-bottom: 2px;
	    text-align: center;

	}

	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: -22px;
	}
	input {
		margin-bottom: 10px;
	}
	.style1 {
		margin-top: 0px;
	}
    

	#login-form {
		border-style: solid;
		border-width: 3px;
		border-color: #3C4646;
		box-shadow: 10px 10px 0px 2px #f7dfd4;
		padding: 25px;

		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;

		padding-left: 76px;

		.btn {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.btn:hover {
			border-color: #000; 
			text-decoration: none;
		}
	}
}
// SIGN UP
#sign-up {
	margin-top: 100px;
	h2 {
		font-family: 'Playfair Display', serif;
	    font-weight: normal;
	    padding-bottom: 2px;
	    text-align: center;

	}
	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 0px;

	}
	.style1 {
		margin-top: 0px;
	}
    
	#sign-up-form {
		border-style: solid;
		border-width: 3px;
		border-color: #3C4646;
		box-shadow: 10px 10px 0px 2px #f7dfd4;
		padding: 25px;

		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;

		padding-left: 76px;
		i {
			margin-bottom: 5px;
		}

		input {
			margin-bottom: 10px;
		}
		select {
			width: 22%;
		    font-size: 33px;
		    margin-bottom: 10px;
		}
		.noti {
			margin-bottom: -7px;
		}


		.btn {
			margin-top: 10px;
		}
		.btn:hover {
			border-color: #000; 
			text-decoration: none;
		}
	}
	margin-bottom: 50px;
}

// footer