/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple_calendar";
@import "owl.carousel";
@import "owl.theme";
@import "users";
@import "checklists";



/*create page*/
.image-preview, .image-preview-wrap {
	position: center;
	margin: 0 auto;
}

.lightbox {
	display: none; 
	position: fixed; 
	z-index: 99;
}

.image-preview-wrap,
.image-preview {
	width: 550px;
	height: 1000px;
	margin: 0 auto;
}
.image-preview {
	background-image: url("/images/snapchat_filter.png");
	background-position: center center;
	background-repeat: no-repeat;
	// background-size: contain;
}

.image-message {
	text-transform: uppercase;
	text-align: center;
  	position: relative;
	word-wrap: break-word;
	padding-left: 80px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: rgba(#1c1c1c, 0.7);
}

.closebox {
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	position: fixed;
	top: 20px;
	right: 25px;
}

.image {
	display: none;
	position: fixed;
	top: 25px;
	right: 70px;
	margin: 0 auto;
	z-index: 1000;
}


//IMAGE SLIDER
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
//Navbar Global
.navbar {
	box-shadow: 0 8px 6px -6px #999;
	background-color: #FFF;

}

//User Navbar
.user-navbar {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    color: #363636;
    margin-top: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    width: 95%;
    a {
    	color: #6f6e6e;
    	padding: 15px;
    }
	a:hover {
		color: #363636;
		text-decoration: none;
	}

    .logout {
    	margin-left: 300px;
    }
    .logout:hover {
    	color: #363636;
    }
    .navbar_brand, img {
    	margin-top: -25px;
    	margin-left: -11px;
    }
}

//Hamburger


// Social Icons
.social-icon {
	font-size: 18px;
    margin: -13px;
}
.fa {
	color: #f7dfd4;

}
.fa:hover {
	color: #333;
}