// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checklist-index {
	padding-top: 85px;
	margin-bottom: 36px;
	margin-top: 96px;
	height: 100%;
	width: 100%;
}

.checklist-subhead {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 14px;
	font-size: 72px;
}
.row-checklist{
	height: 100%;
	width: 100%;
}

.checktext {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	letter-spacing: 10px;
    font-size: 140px;
    margin-left: 86px;
}

.checksubtext {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    font-size: 176px;
    text-transform: uppercase;
    margin-top: -82px;
    margin-left: 160px;
}

.c-index {
	margin-left: -85px;
}

#index-plus {
	position: relative;
    margin-left: 570px;
}

#checklistindex-pencil {
	margin-left: 363px;
    position: relative;
}

.addChecklistbtn {
	background-color: rgba(255, 255, 255, 0.15);
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
    box-shadow: 10px 10px 0px 0px #f7dfd4;
    position: absolute;
    margin-left: 550px;
    margin-top: 125px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 473px;
    margin-top: -55px;
    position: relative;
}
.addChecklistbtn:hover{
	background-color: #f7dfd4;
	box-shadow: 10px 10px 0px 0px #f2f2f2;
}

