// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#guest-list {
	margin-top: 116px;
	h1 {
		font-family: 'Playfair Display', serif;
	    letter-spacing: 6px;
	    font-weight: bold;
	    padding-bottom: 60px;
	    font-size: 80px;
	    text-align: center;
	}
	.style1 {
		border-width: 1.5px;
	    border-style: solid;
	    margin-top: -44px;
	    width: 62%;
	}
	h4{
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 15px;
		margin-left: -16px;
	}
	h5 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		text-align: left;
	}
	.form {
		margin-left: 26px;
	    margin-top: 0px;
	    margin-bottom: 45px;
	}
}

.addGuestbtn {
	background-color: #fff;
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
    box-shadow: 10px 10px 0px 0px #f7dfd4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #f7dfd4;
	box-shadow: 10px 10px 0px 0px #f2f2f2;
	position: relative;
	margin-left: 38px;
    margin-top: 42px;
    border-width: 2px;
}

.addGuestbtn:hover {
	background-color: #fff;
	color: #000;
	text-decoration: none;
}

.guest-buttons {
	margin-bottom: 90px;
	margin-left: 65px;
    margin-right: 30px;
	padding-left: 52px;
	textarea {
		width: 83%;
		padding-left: 5px;
    	padding: 10px;
    	border-width: 2px;
    	margin-top: -10px;
	}
	#label {
		text-align: center;
	}
	.quit {
		text-align: center;
	}
}

.my_clip_button {
	background-color: rgba(255, 255, 255, 0.15);
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
    box-shadow: 10px 10px 0px 0px #f7dfd4;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 66px;
    margin-top: 40px;
}

.my_clip_button:hover {
	background-color: #f7dfd4;
	box-shadow: 10px 10px 0px 0px #f2f2f2;
}

#copy-text {
	border-style: solid;
	padding: 12px;
}

.edit-guest {
	#modal-title {
	    	margin-left: 40px;
	    }
	.glyphicon-pencil {
		position: absolute;
	    margin-left: 39px;
	    margin-top: 2px;
	}
	.glyphicon-trash {
		margin-left: 65px;
	    margin-top: 3px;
	    position: absolute;
	}
}

#categories, #guest-info {
	padding-left: 72px;
}

.guest-info {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;    

	border-color: #3C4646;
    box-shadow: 9px -9px 0px -3px #f7dfd4;
    text-align: left;
}


//User Guest Form 
#send-guest-form {
	margin-top: 100px;
	h1 {
		font-family: 'Playfair Display', serif;
	    font-weight: normal;
	    padding-bottom: 60px;
	    text-align: center;

	}

	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: -65px;
    	text-align: center;
    	margin-bottom: 20px;
	}
    

	#theform {
		border-style: solid;
		border-width: 3px;
		border-color: #3C4646;
		box-shadow: 10px 10px 0px 2px #f7dfd4;
		padding: 25px;

		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-transform: uppercase;


		.btn {
			margin-top: 10px;
		}
	}

	.extra {
		margin-bottom: 20px;
    	margin-top: 25px;
    	p {
    		font-family: 'Open Sans', sans-serif;
			font-weight: normal;
			text-align: center;
    	}
	}
}


