// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Home 
.home, 
html, body,
.row2, .col,
.big-banner {
	height: 100%;
}

.home {
	padding-top: 40px;
	video {
		opacity: 0.8;
    	height: 50%;
    	width: 90%;
	}
	.header {
		background-image: url("https://s3.amazonaws.com/belovedapp/5.jpg");
		background-size: cover;
		height: 145%;
	    width: 100%;
	    margin-top: -142px;
	    opacity: 0.9;
	}
    img {
    	width: 100%;
	 		margin-top: 40px;
	 		margin-left: 12px;
	 		margin-top: 40px;
    }
    .row3 {
		background: #ffd9c4;
    	height: 85%;
    	h1 {
    		text-align: left;
    		color: white;
    		font-family: 'Playfair Display', serif;
			letter-spacing: 4px;
			text-transform: uppercase;
			font-size: 74px;
		    margin-right: -74px;
		    margin-top: 20px;
    	}
    	.big-banner {
    		margin-top: 90px;
    	}
    }
    #picture1, #picture2 {
    	img {
    		width: 80%;
    		margin-top: -60px;
    	}
    }
	#picture1 {
		img {
			margin-left: 100px;
		}
	}
	#picture2 {
		img {
			margin-left: -16px;
		}
	}
    .row4 {
    	height: 105%;
    	h1{
    	text-align: left;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-left: -127px;
    	margin-top: -45px;
    	font-size: 63px;
    	font-weight: bold;
    	}
    	h3 {
		text-align: left;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-left: -127px;
    	font-weight: bold;
    	margin-top: 175px;
    	font-size: 55px;
    	font-weight: bold;
    	}
	}
	.row5, .row6 {
		height: 100%;
		margin-top: -40px;
		.col-xs-12 {
			height: 100%;

		}
		img {
			width: 100%;
			margin-left: -2px;
		}
	}
}

// About
.about {
	padding-top: 50px;
	header {
		background-image: url("/images/about2.jpg");
		background-size: cover;
		padding-bottom: 40vh;
	    margin-top: -22px;
	    opacity: 0.8;
	    h1 {
	    	font-size: 62px;
    		color: #afafac;
	    }
	}
	.text {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 6px;
		text-transform: uppercase;
		text-align: center;
		font-size: 100px;
		color: #fff;
		padding-top: 300px;


	}
}