/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

//header

#masthead{
    background: #ffd9c4;
    height: 100%;
    .message {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Open Sans', sans-serif;
        font-style:italic;
        text-align:center;
    }
    h1{
        margin: 0px;
        color:#fff;
    }
}

html,
body,
.user-home,
.user-home-row,
.home-col {
	height: 100%;
}

#content{
    padding:20px 0;
    line-height:180%;
}

.down{
    position:relative;
    bottom:0;
    text-decoration:none;
    color:#fff;
    padding:0 0 40px;
    font-size:24px;
    font-weight:700;
    font-family: 'Orbitron', sans-serif;
    line-height:50px;
    margin-left:50%;
    > div{
        border:4px solid #fff;
        height:48px;
        width:48px;
        border-radius:88%;
        margin-left:600px;
        margin-top: 500px;
        text-align:center;
    }
    div:hover {
    	color: none;
    }
}

//navbar
.user-navbar {
	padding-top: 5px;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

//Row 1
.row1 {
	padding-top: 80px;
}
.welcome-text, .welcome-subtext {
	text-align: center;
}
.welcome-text {
	font-family: 'Playfair Display', serif;
	letter-spacing: 4px;
	font-weight: bold;
	padding-bottom: 5px;
}

.welcome-subtext {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}


//photo upload
.upload-photo {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-right: 2px;
	font-size: 12px;
}

.row-carousel {
	font-size: 20px;
}

.owl-pagination {
	margin-top: -5px;
    margin-bottom: -30px;
}

.fa-camera-retro {
	font-size: 20px;
	position: relative;
	right: 20px;
    margin-left: 1238px;
}

.style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 60%;
	margin-bottom: 30px;
}

//Row 2
.row2 {
	padding-bottom: 60px;
	padding-top: 68px;
	margin-right: -28px;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
		text-align: center;
		padding-top: 10px;
	}
}

//Row 3
.cal-style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 86%;
	margin-top: -6px;
}
#calendar {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
	}
	margin-left: 92px;
	a{
		color: #ffbc9e;

	}
}
.simple_calendar {
	table {
		max-width: 105%;
		margin-left: -9px;
	}
}
.today-start-date {
	background: #ffbc9e;
}

.calendar-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-right: 65px;
	padding-left: 65px;
	text-transform: uppercase;
}

.calendar-heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding-bottom: 15px;
}

.table-striped {
	border-width: 25px;
	border-color: #333233;
	box-shadow: 10px 10px 0px 2px #f7dfd4;
}


// Row 3 Checklist
.checklist {
	border-style: solid;
	border-width: 2px;
	border-color: #3C4646;
	box-shadow: 10px 10px 0px 2px #f7dfd4;
	padding: 20px;
	margin-left: 160px;
	padding-top: 20px;
    padding-bottom: 8px;
		h4 {
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: -8px;
			margin-bottom: -20px;
		}
		a {
			color: #706f6f;
		}

		a:hover{
			color: #ffbc9e;
		}
		p {
			text-transform: uppercase;
    		font-size: 13px;
    		margin-bottom: -6px;
    		margin-top: 8px;
		}
		.glyphicon-pencil,
		.glyphicon-trash,
		.glyphicon-ok {
			font-size: 12px;
		}
}

#week-checklist {
	margin-top: 6px;
}

#month-checklist {
	margin-top: 32px;
}

.checklists-style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 40%;
	margin-top: -6px;
}

.glyphicon-pencil:hover {
	color: #ffbc9e;
}

.glyphicon-pencil {
	color: #656363;
}

#thisweek-pencil {
	position: relative;
	margin-right: -26px;
    margin-left: 354px;
    margin-top: 0px;
}

#thisweek-trash {
	position: absolute;
	margin-right: 4px;
	margin-left: 34px;
    margin-top: 16px;
}

#month-trash {
	position: absolute;
	margin-right : 4px;
	margin-left: 8px;
    margin-top: 15px;

}

#month-pencil {
	position:relative;
	margin-left: 355px;
}

#thisweek-plus {
	position: relative;
    margin-left: 364px;
    font-size: 14px;
    margin-top: 0px;
    #thisweek-plus:hover {
    	color: #ffbc9e;
    }
}

#month-plus {
	position: relative;
    margin-left: 363px;
    margin-top: 0px;
    font-size: 14px;
    #month-plus:hover {
    	color: #ffbc9e;
    }
}

// Row 4
.row4 {
    background: #f2f2f2;
    position: relative;
	height: 100%;
}

.playlist {
	width: 30%;
	text-align: center;
	margin-left: 118px;
	margin-top: 60px;
	border-style: solid;
    border-width: medium;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-right: 16px;
    padding-left: 16px;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;
	}
	.style1-playlist {
		border-top: 1.5px;
		border-style: solid;
		border-color: #AEB8B8;
		width: 96%;
		margin-top: 0px;
	}
	p {
		margin: -10px 0 10px;
		padding-right: 25px;
		padding-right: 25px;
		margin-bottom: 40px;

	}
	
}

.image-quote {
	height: 100%;
	width: 50%;
    background-image: url("/images/bestisyet.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 136px;
}

// Row 5
.treat {
	height: 50%;
}
// treat button applies to all pages
.btn-treat {
	background-color: rgba(255, 255, 255, 0.15);
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
    box-shadow: 10px 10px 0px 0px #f7dfd4;
    position: relative;
    margin-left: 550px;
    margin-top: 125px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-treat:hover {
	background-color: #f7dfd4;
	box-shadow: 10px 10px 0px 0px #f2f2f2;

}

// Row 6
.blog-posts {
	h3{
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: .5px;
	}
	p {
		font-family: 'Open Sans', sans-serif;
	}
	.btn {
		background-color: rgba(255, 255, 255, 0.15);
		color: #363636;
	    border-color: #363636;
	    border-radius: 2px;
		font-family: 'Open Sans', sans-serif;
	}
	.btn:hover {
		background-color: #f7dfd4;
	}
}

// CREATE PAGE
.create {
	.row1 {
		padding-top: 100px;
	}
	h1 {
		font-family: 'Playfair Display', serif;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	}
	.text1 {
	    border-color: #3C4646;
    	box-shadow: 13px 11px 0px 4px #f7dfd4;
    	border-style: solid;
    	border-width: 4px;
    	padding-bottom: 25px;
    	margin-bottom: 45px;
    	letter-spacing: 5px;
    	margin-top: 40px;
	}
	h3 {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		padding-top: 50px;
	}

	h4, h5 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;

	}

	.soon {
		border-style: double;
		border-width: 4px;
		border-color: #000;
		margin-left: -40px;
    	margin-right: 116px;
	}
	#s1 {
		padding-bottom: 74px;
	}
	#s2 {
		padding-bottom: 60px;
	}
	#s3 {
		padding-top: 30px;
	    padding-bottom: 10px;
	    margin-left: -35px;
	    box-shadow: -16px -12px 0px -5px #d4f1f7;
    	margin-top: 18px;
	}
	#s4 {
		margin-top: 11px;
	    margin-left: -46px;
	    padding-bottom: 28px;
	    box-shadow: 13px -9px 0px 1px #f5f7d4;
  		margin-top: 30px;

	}
	.coming {
		margin-top: 10px;
	}
}

// SETTINGS 
.settings {
	.row1 {
		padding-top: 100px;
	}
	h1 {
		font-family: 'Playfair Display', serif;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	    letter-spacing: 5px;
	}
	.style1 {
		width: 80%;
	}
	.helpbtn, .actbtn {
	    border-radius: 2px;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 14px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #f7dfd4;
		box-shadow: 10px 10px 0px 0px #f2f2f2;
		border-color: #000;
	}
	.helpbtn:hover, .actbtn:hover {
		background-color: #fff;
		color: #000;
		text-decoration: none;
	}
	.helpbtn {
		margin-left: 174px;
	}
	.actbtn {
		margin-left: 11px;
	}
	.modal-title {
		font-family: 'Open Sans', sans-serif;
	    font-size: 18px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}

//SETTINGS: ACCOUNT
.account {
	.row1 {
		padding-top: 100px;
	}
	h1 {
		font-family: 'Playfair Display', serif;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-align: center;
	    letter-spacing: 5px;
	}
	.style1 {
		width: 80%;
	}
	.btn {
	    border-radius: 2px;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 14px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #f7dfd4;
		box-shadow: 10px 10px 0px 0px #f2f2f2;
		border-color: #000;
	}
	.btn:hover{
		background-color: #fff;
		color: #000;
		text-decoration: none;
	}
	h4 {
		font-family: 'Open Sans', sans-serif;
	    text-transform: uppercase;
	}
	p {
		font-family: 'Open Sans', sans-serif;
	    font-size: 14px;
	}

}
