/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

//header

#masthead{
    background: #ffc8ad;
    height: 100%;
    .message {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Open Sans', sans-serif;
        font-style:italic;
        text-align:center;
    }
    h1{
        margin: 0px;
        color:#fff;
    }
}

html,
body,
.user-home,
.user-home-row,
.home-col {
	height: 100%;
}

#content{
    padding:20px 0;
    line-height:180%;
}

.down{
    position:relative;
    bottom:0;
    text-decoration:none;
    color:#fff;
    padding:0 0 40px;
    font-size:24px;
    font-weight:700;
    font-family: 'Orbitron', sans-serif;
    line-height:50px;
    margin-left:50%;
    > div{
        border:4px solid #fff;
        height:48px;
        width:48px;
        border-radius:88%;
        margin-left:600px;
        margin-top: 500px;
        text-align:center;
    }
}

//navbar
.user-navbar {
	padding-top: 5px;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

//Row 1
.row1 {
	padding-top: 80px;
}
.welcome-text, .welcome-subtext {
	text-align: center;
}
.welcome-text {
	font-family: 'Playfair Display', serif;
	letter-spacing: 4px;
	font-weight: bold;
	padding-bottom: 5px;
}

.welcome-subtext {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}


//photo upload
.upload-photo {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-right: 2px;
	font-size: 12px;
}

.row-carousel {
	font-size: 20px;
}

.owl-pagination {
	margin-top: -5px;
    margin-bottom: -30px;
}

.fa-camera-retro {
	font-size: 20px;
	position: relative;
	right: 20px;
    margin-left: 1238px;
}

.style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 60%;
	margin-bottom: 30px;
}

//Row 2
.row2 {
	padding-bottom: 60px;
	padding-top: 68px;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
		text-align: center;
		padding-top: 10px;
	}
}

//Row 3
.cal-style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 86%;
	margin-top: -6px;
}
#calendar {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
	}
	margin-left: 92px;
	a{
		color: #ffbc9e;

	}
}

.today-start-date {
	background: #ffbc9e;
}

.calendar-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	padding-right: 65px;
	padding-left: 65px;
	text-transform: uppercase;
}

.calendar-heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding-bottom: 15px;
}

.table-striped {
	border-width: 25px;
	border-color: #333233;
	box-shadow: 10px 10px 0px 2px #f7dfd4;
}


// Row 3 Checklist
.checklist {
	border-style: solid;
	border-width: 2px;
	border-color: #3C4646;
	box-shadow: 10px 10px 0px 2px #f7dfd4;
	padding: 20px;
	margin-left: 165px;
		h4 {
			font-family: 'Open Sans', sans-serif;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: -8px;
		}
		a {
			color: #706f6f;
		}

		a:hover{
			color: #ffbc9e;
		}
		p {
			text-transform: uppercase;
    		font-size: 13px;
    		margin-bottom: -2px;
    		margin-top: 8px;
		}
		.glyphicon-pencil,
		.glyphicon-trash,
		.glyphicon-ok {
			font-size: 12px;
		}
}

#week-checklist {
	margin-top: 6px;
}

#month-checklist {
	margin-top: 32px;
}

.checklists-style1 {
	border-top: 1.5px;
	border-style: solid;
	border-color: #AEB8B8;
	width: 40%;
	margin-top: -6px;
}

.glyphicon-pencil:hover {
	color: #ffbc9e;
}

.glyphicon-pencil {
	color: #656363;
}

#thisweek-pencil {
	position: absolute;
	margin-right: 2px;
	margin-left: 350px;
	margin-top: 14px;
}

#thisweek-trash {
	position: absolute;
	margin-right: 4px;
	margin-left: 370px;
	margin-top: 14px;
}

#month-trash {
	position: absolute;
	margin-right : 4px;
	margin-left: 370px;
	margin-top: 14px;

}

#month-pencil {
	position:absolute;
	margin-left: 350px;
	margin-top:14px;
}

#thisweek-plus {
	position: relative;
    margin-left: 371px;
    font-size: 14px;
    margin-top: 0px;
}

#month-plus {
	position: relative;
    margin-left: 374px;
    margin-top: 0px;
    font-size: 14px;
}

// Row 4
.row4 {
	border-top: 2px;
    border-style: solid;
    border-width: thin;
    border-bottom: none;
    background: #f2f2f2;
    position: relative;
	height: 100%;
}

.playlist {
	width: 30%;
	text-align: center;
	margin-left: 118px;
	margin-top: 60px;
	border-style: solid;
    border-width: medium;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;
	}
	.style1-playlist {
		border-top: 1.5px;
		border-style: solid;
		border-color: #AEB8B8;
		width: 96%;
		margin-top: 0px;
	}
	p {
		margin: -10px 0 10px;
		padding-right: 25px;
		padding-right: 25px;
		margin-bottom: 40px;

	}
	
}

.image-quote {
	height: 100%;
	width: 50%;
    background-image: url("/images/bestisyet.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 136px;
}

// Row 5
.treat {
	height: 50%;
}
// treat button applies to all pages
.btn-treat {
	background-color: rgba(255, 255, 255, 0.15);
	color: #363636;
    border-color: #363636;
    border-radius: 2px;
    box-shadow: 10px 10px 0px 0px #f7dfd4;
    position: absolute;
    margin-left: 550px;
    margin-top: 125px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-treat:hover {
	background-color: #f7dfd4;
	box-shadow: 10px 10px 0px 0px #f2f2f2;

}

// Row 6
.blog-posts {
	h3{
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		letter-spacing: .5px;
	}
	p {
		font-family: 'Open Sans', sans-serif;
	}
	.btn {
		background-color: rgba(255, 255, 255, 0.15);
		color: #363636;
	    border-color: #363636;
	    border-radius: 2px;
		font-family: 'Open Sans', sans-serif;
	}
	.btn:hover {
		background-color: #f7dfd4;
	}
}


