<div class="container-fluid home">
	<div class="row">
		<video autoplay loop>
		  <source src="/images/belovedvideo.mp4" type="video/mp4">
		</video>
	</div>

	<div class="row">
		<div class="col-xs-12">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-2">
			icon
		</div>
		<div class="col-xs-2">
			icon
		</div>
		<div class="col-xs-2">
			icon
		</div>
		<div class="col-xs-3">
		</div>
	</div>

</div>

