<div class="container-fluid home">
	<div class="row row2">
		<div class="col-xs-12 header">
			<img src="https://s3.amazonaws.com/belovedapp/headtext2.png">
		</div>
	</div>
	
	<div class="row row3">
		<div class="col-xs-3 col">
		</div>
		<div class="col-xs-6 big-banner">
			<h1> 1 Wedding. </h1>
			<h1> 2 Humans. </h1>
			<h1> All worth it. </h1>
		</div>
		<div class="col-xs-3">
		</div>
	</div>

	<div class="row row4">
		<div class="col-xs-5" id="picture1">
			<img src="https://s3.amazonaws.com/belovedapp/pen.jpg">
		</div>

		<div class="col-xs-5" id="picture2">
			<img src="https://s3.amazonaws.com/belovedapp/p5.jpg">
		</div>

		<div class="col-xs-2 text">
			<h1> Over<br />whel<br />ming </h1>
			<h3> Now <br /> what?</h3>
		</div>
	</div>

	<!-- <div class="row row-icons">
		<div class="col-xs-4">
			<span class="glyphicon glyphicon-check"></span>
			<h3> Checklists </h3>
		</div>
		<div class="col-xs-4">
			<span class="glyphicon glyphicon-piggy-bank"></span>
			<h3> Budgeter </h3>
		</div>
		<div class="col-xs-4">
			<img src="/images/peopleicon.svg">
			<h3> Guest Lists </h3>
		</div>
	</div>

	<div class="row row-icons2">
		<div class="col-xs-4">
			<span class="glyphicon glyphicon-phone"></span>
			<h3> Text Reminders </h3>
		</div>
		<div class="col-xs-4">
			<span class="glyphicon glyphicon-headphones"></span>
			<h3> Curated Playlists </h3>
		</div>
		<div class="col-xs-4">
			<span class="glyphicon glyphicon-plus"></span>
			<h3> And More </h3>
		</div>
	</div> -->

	<div class="row row5">
		<div class="col-xs-12">
			<img src="https://s3.amazonaws.com/belovedapp/123.svg">
			<img class="callig" src="https://s3.amazonaws.com/belovedapp/belovedcalig.png">
		</div>
		
	</div>

	<div class="row row6">
		<div class="row1">
			<div class="col-xs-12">
				<img class="treatsvg" src="https://s3.amazonaws.com/belovedapp/treat.svg">
				<img class="gift" src="https://s3.amazonaws.com/belovedapp/gift.png">
				<img class="treatq" src="https://s3.amazonaws.com/belovedapp/lovetreatsq.png">
				<h3>You love <br />surprises? </h3>
				<h2> We do too. </h2>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<video muted autoplay loop>
			  <source src="https://s3.amazonaws.com/belovedapp/belovedvideo.mp4" type="video/mp4">
			</video>
		</div>
	</div>



</div>

