<h1>Hey, <%= @user.name %>!</h1>
<br>
<p>Great job on finishing up a big task! We are so proud. Keep up the good work and don't stress... your reward is on the way. 

<p>
Look out for a confirmation email which you'll receive once your treat has shipped. 
</p>
<p>
Happy planning! You're one step closer to wedding glory. Don't hesitate to reach out to us if you need any help. 
</p>
xo,
beloved. 
</p>